<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/change_password.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='img/wiki_black.png') }}" alt="Logo" class="logo">
            </div>

            <!-- Flecha para retroceder al login -->
            <a href="{{ url_for('login') }}" class="back-arrow">
                <i class="fas fa-arrow-left"></i> Volver al Inicio de Sesión
            </a>

            <h1>Cambiar Contraseña</h1>
            <form method="POST">
                <div class="form-group">
                    <p class="warning-text">
                        <strong>¡Atención!</strong> Al ser su primer ingreso, debe colocar una nueva contraseña para su usuario.
                    </p>
                    <p class="note">Recuerde que su contraseña debe tener al menos 8 caracteres, incluir mayúsculas, minúsculas y números.</p>
                    <br>
                    <label for="new_password">Nueva Contraseña:</label>
                    <input type="password" id="new_password" name="new_password" required>
                </div>
                <button type="submit" class="submit-btn">Cambiar Contraseña</button>
            </form>
            <br>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            
            
        </div>
    </div>
</body>
</html>
