{% extends "base.html" %}

{% block content %}
<div class="wiki-container" id="wiki-container">
    <!-- Formulario de búsqueda -->
    <form method="GET" action="/" id="buscar_informacion">
    <!-- Primera búsqueda -->
    <div class="search-options">
        <input type="text" name="query1" value="{{ query1 }}" placeholder="Buscar..." />
        <select name="search_type1">
            <option value="title" {% if search_type1 == 'title' %}selected{% endif %}>Título</option>
            <option value="content" {% if search_type1 == 'content' %}selected{% endif %}>Contenido</option>
            <option value="authors" {% if search_type1 == 'authors' %}selected{% endif %}>Autor</option>
            <option value="finca" {% if search_type1 == 'finca' %}selected{% endif %}>Finca</option>
            <option value="plaga" {% if search_type1 == 'plaga' %}selected{% endif %}>Plaga</option>
        </select>
    </div>

    <!-- Segunda búsqueda -->
    <div class="search-options">
        <input type="text" name="query2" value="{{ query2 }}" placeholder="Buscar..." />
        <select name="search_type2">
            <option value="content" {% if search_type2 == 'content' %}selected{% endif %}>Contenido</option>
            <option value="title" {% if search_type2 == 'title' %}selected{% endif %}>Título</option>
            <option value="authors" {% if search_type2 == 'authors' %}selected{% endif %}>Autor</option>
            <option value="finca" {% if search_type2 == 'finca' %}selected{% endif %}>Finca</option>
            <option value="plaga" {% if search_type2 == 'plaga' %}selected{% endif %}>Plaga</option>
        </select>
    </div>

    <!-- Tercera búsqueda -->
    <div class="search-options">
        <input type="text" name="query3" value="{{ query3 }}" placeholder="Buscar..." />
        <select name="search_type3">
            <option value="finca" {% if search_type3 == 'finca' %}selected{% endif %}>Finca</option>
            <option value="title" {% if search_type3 == 'title' %}selected{% endif %}>Título</option>
            <option value="content" {% if search_type3 == 'content' %}selected{% endif %}>Contenido</option>
            <option value="authors" {% if search_type3 == 'authors' %}selected{% endif %}>Autor</option>
            <option value="plaga" {% if search_type3 == 'plaga' %}selected{% endif %}>Plaga</option>
        </select>
    </div>
        
</form>
<div class="search-options">
    <button form="buscar_informacion" type="submit">&#128269; Buscar</button>
    <button type="button" id="clear-button">&#8635; Nueva búsqueda</button>
    <button type="button" id="add-entry-button">Agregar nueva entrada</button>    
</div>

    <!-- Modal para ingresar contraseña -->
<div id="password-modal" class="modal hidden">
    <div class="modal-content">
        <h3>Ingrese la contraseña para agregar una entrada</h3>
        <input type="password" id="password-input" placeholder="Contraseña">
        <button id="submit-password">Enviar</button>
        <button id="close-password-modal">Cerrar</button>
        <p id="password-error" style="color: red; display: none;">Contraseña incorrecta.</p>
    </div>
</div>





    <div class="entries">
        {% if query1 or query2 or query3 %}
        <h2>Resultados para: 
            {% if query1 %} "{{ query1 }}" {% endif %}
            {% if query2 %} "{{ query2 }}" {% endif %}
            {% if query3 %} "{{ query3 }}" {% endif %}
        </h2>
            {% if num_results %}
                <div class="entry-list">
                    <p><strong>{{ num_results }}</strong> resultado(s) encontrado(s) para los criterios seleccionados.</p>
                    {% for entry in entries %}
                        <div class="entry" id="entry-{{ loop.index }}" data-content="{{ entry.content }}">
                            <div class="entry-summary">
                                <h3>{{ entry.title }}</h3>
                                <p>{{ entry.content[:475] }}...</p>
                                <!-- Mostrar el contador de archivos -->
                                <p style="color: blue; text-decoration: underline;">Archivos adjuntos: {{ entry.documentos|length + entry.fotos|length }}</p>
                                <small>Fecha: {{ entry.creation_date }} | Autor(es): {{ entry.authors | join(", ") }}</small>
                                <button class="view-more" data-entry-id="entry-{{ loop.index }}" onclick="toggleEntryDetails('entry-{{ loop.index }}')">Leer más</button>
                            </div>
                            <!-- Detalles de la entrada (ocultos inicialmente) -->
                            <div class="entry-details hidden">
                                <h1>{{ entry.title }}</h1>
                                <div>
                                    {{ entry.content.replace('\n', '<br>') | safe }}
                                </div>
                                
                                <h3>Imágenes</h3>
                                <!-- Imágenes -->
                                <div class="modal-section-images">
                                    <div class="images">
                                        {% for image in entry.fotos %}                                            
                                            <img class="img-adjunta" src="data:image/jpeg;base64,{{ image }}" alt="Imagen de la entrada" />
                                        {% else %}
                                            <p>No hay imágenes disponibles.</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <h3>Documentos</h3>
                                <!-- Archivos -->
                                <div class="modal-section-attachments">
                                    <div class="files-container">
                                        {% for file in entry.documentos %}
                                            <div class="file-card">
                                                <div class="file-preview">
                                                    <img src="{{ url_for('static', filename='img/logo_pdf.png') }}" alt="PDF" class="file-icon">
                                                </div>
                                                <div class="file-name">
                                                    <button class="view-pdf" data-pdf="{{ file.base64 }}">
                                                        Ver Documento {{ loop.index }}
                                                    </button>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <p>
                                    <small>Fecha: {{ entry.creation_date }} | Autor(es): {{ entry.authors | join(", ") }}</small>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No se encontraron resultados para la búsqueda.</p>
            {% endif %}
        {% else %}
            <h2>Todas las Entradas</h2>
            <div class="entry-list">
                {% for entry in entries %}
                    <div class="entry" id="entry-{{ loop.index }}" data-content="{{ entry.content }}">
                        <div class="entry-summary">
                            <h3>{{ entry.title }}</h3>
                            <p>{{ entry.content[:475] }}...</p>
                            <!-- Mostrar el contador de archivos -->
                            <p style="color: blue; text-decoration: underline;">Archivos adjuntos: {{ entry.documentos|length + entry.fotos|length }}</p>
                            <small>Fecha: {{ entry.creation_date }} | Autor(es): {{ entry.authors | join(", ") }}</small>
                            <button class="view-more" data-entry-id="entry-{{ loop.index }}" onclick="toggleEntryDetails('entry-{{ loop.index }}')">Leer más</button>
                        </div>
                        <!-- Detalles de la entrada (ocultos inicialmente) -->
                        <div class="entry-details hidden">
                            <h1>{{ entry.title }}</h1> <!-- Detalles del contenido -->
                            <div>
                                {{ entry.content.replace('\n', '<br>') | safe }}
                            </div>
                            
                            <!-- Imágenes -->
                            <h3>Imágenes</h3>
                            <div class="modal-section-images">
                                <div class="images">
                                    {% for image in entry.fotos %}
                                        <img class="img-adjunta" src="data:image/jpeg;base64,{{ image }}" alt="Imagen de la entrada" />
                                    {% else %}
                                        <p>No hay imágenes disponibles.</p>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- Archivos -->
                            <h3>Documentos</h3>
                            <div class="modal-section-attachments">
                                
                                <div class="files-container">
                                    {% for file in entry.documentos %}
                                        <div class="file-card">
                                            <div class="file-preview">
                                                <img src="{{ url_for('static', filename='img/logo_pdf.png') }}" alt="PDF" class="file-icon">
                                            </div>
                                            <div class="file-name">
                                                <button class="view-pdf" data-pdf="{{ file.base64 }}">
                                                    Ver Documento {{ loop.index }}
                                                </button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <p>
                                <small>Fecha: {{ entry.creation_date }} | Autor(es): {{ entry.authors | join(", ") }}</small>
                            </p>
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

<!-- Formulario de Agregar Entrada (inicialmente oculto) -->
<div id="add-entry-form-container" class="add-entry-form-container hidden">
    <form id="add-entry-form" class="add-entry-form">
        <h2>Agregar Nueva Entrada</h2>
        
        <div class="form-group">
            <label for="entry-date">Fecha:</label>
            <input type="date" id="entry-date" name="entry-date" required>
        </div>
        <div class="form-group">
            <label for="entry-problem">Finca (Opcional):</label>
            <textarea id="entry-problem" name="entry-problem" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="entry-title">Título:</label>
            <input type="text" id="entry-title" name="entry-title" required>
        </div>
        <div class="form-group">
            <label for="entry-subject">Asunto:</label>
            <input type="text" id="entry-subject" name="entry-subject" required>
        </div>
        <div class="form-group">
            <label for="entry-problem">Contenido:</label>
            <textarea id="entry-problem" name="entry-problem" rows="4" required></textarea>
        </div>
        <div class="form-group">
            <label for="entry-authors">Autores (separados por coma):</label>
            <input type="text" id="entry-authors" name="entry-authors" required>
        </div>
        <div class="form-actions">
            <button type="button" class="cancel-button" onclick="hideAddEntryForm()">Cancelar</button>
            <button type="submit" class="submit-button">Enviar Entrada</button>
        </div>
    </form>
</div>

<!-- Modal de imagen -->
<div id="image-modal" class="modal hidden">
    <div class="modal-content">
        <img id="modal-image" src="" alt="Imagen" />
        <button id="close-modal" class="close-modal">Cerrar</button>
    </div>
</div>


<!-- Contenedor para mostrar detalles de la entrada -->
<div id="entry-details-container" class="hidden">
    <button class="back-button" onclick="goBack()">&#8592; Volver</button>
    <div id="entry-details-content">
        <!-- El contenido detallado de la entrada será insertado aquí -->
    </div>
</div>

<div id="pdfViewerContainer" class="hidden">
    <iframe id="pdfViewer" width="100%" height="500px"></iframe>
    <button id="closePdfViewer" class="back-button">Cerrar PDF</button>
</div>



{% endblock %}
